body {
  margin: 0;
  padding: 0;
  background-color: #03040b;
  overflow-x: hidden;
  color: #fff;
}

/* Custom Scrollbar to match futuristic aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #03040b;
}
::-webkit-scrollbar-thumb {
  background: #00f3ff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff007f;
}
